* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 38vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

div {
  line-height: 35px;
  font-size: 25px;
}

h1 {
  line-height: 80px;
}

form span.error {
  color: red;
}