* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  display: grid;
  align-items: center;
}

div {
  display: inline-block;
}

img {
  width: 150px;
  border-radius: 75px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 20px;
}

table, th, td {
  border: 1px solid black;
  margin: 0 auto;
  width: 26%;
  font-family: 'Poppins', sans-serif;
}